<form (ngSubmit)="saveTask()" style="margin-bottom: 1rem">
  <input
    type="text"
    [(ngModel)]="task.title"
    name="title"
    placeholder="Task Title"
    required
  />
  <input
    matInput
    [matDatepicker]="picker"
    [(ngModel)]="task.dueDate"
    name="dueDate"
    placeholder="Due Date"
    required
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>

  <input
    matInput
    type="time"
    [(ngModel)]="task.dueTime"
    name="dueTime"
    placeholder="Time"
    required
  />
  <select [(ngModel)]="task.priority" name="priority">
    <option value="High">High</option>
    <option value="Mid">Mid</option>
    <option value="Low">Low</option>
  </select>
  <button type="submit">{{ editTask ? "Update" : "Add" }} Task</button>
  <button type="button" (click)="formClose.emit()">Cancel</button>
</form>
